.videolist {
    justify-content: center;
    display: grid;
    grid-gap: 1.5rem;
      transition-duration: 1s;
  
  }
  

.videocard__image--border{
    padding: 2px;
    background-color: #7d7e7f;
      -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }

.videocard__image--border:hover{
    background-color: rebeccapurple;
}
    

.videocard__image--url{
    width: 100%;
    object-fit: cover;
    filter: grayscale(50%) saturate(50%);
}

  
.videocard__name{
    color: #d6d6d6;
    text-decoration-line: none;
    font-size: 1rem;
    padding: 5px;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-align: center;
}


@media (min-width: 1500px){
    .videolist {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    }
    
    @media (max-width: 1499px) and (min-width: 1190px){
    .videolist {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    }
    
    @media (max-width: 1189px) and (min-width: 900px){
    .videolist{
      grid-template-columns: 1fr 1fr 1fr;
    }
    }
    
    @media (max-width: 899px) and (min-width: 650px){
    .videolist {
      grid-template-columns: 1fr 1fr;
    }
    }
    
    @media (max-width: 649px){
    .videolist{
      grid-template-columns: 1fr;
    }
    }
    